<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ManageGmail"  parallel="methods" data-provider-thread-count="3" verbose="1">
    <test name="ManageGmail">
        <classes>
            <class name="mySeleniumTest.DeleteSomeImportantGmailMessage"/>
        </classes>
    </test>
</suite>